<div style=" background-color: RGB(0,114,200);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">PROJET 4 DATA ANALYST</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">REALISE UNE ETUDE DE SANTE PUBLIQUE
</h2>
</div>

# MISSION

Félicitations ! Vous avez récemment rejoint une équipe de chercheurs de la Food and Agriculture Organization of the United Nations (FAO), en tant que data analyst.Food and Agriculture Organization of the United Nations Son rôle ? C’est l’un des organes qui composent l’ONU et dont l’objectif est « d’aider à construire un monde libéré de la faim ».
Le responsable de l’équipe, Marc, un chercheur en économie de la santé, est particulièrement enthousiaste à l’idée de votre arrivée au sein de son équipe. En effet, ce recrutement tombe à pic car Julien, l'ancien data analyst, a récemment été muté dans une autre équipe, et la vôtre vient de se voir confier la mission de réaliser une étude de grande ampleur sur le thème de la sous-nutrition dans le monde. Dès votre arrivée, vous trouvez un mail de Marc dans votre boîte mail :

Objet : Bienvenue
De : Marc
À : Vous
Hello et bienvenue au sein de la FAO. J’espère que tu te
plairas parmi nous. En tous cas, sache que je suis très
content de t’accueillir au sein de mon équipe.
Tu es probablement au courant, mais nous avons une
grosse tâche qui nous attend, et nous comptons
particulièrement sur toi pour nous donner un panorama
de l’état de la malnutrition dans le monde, à partir des
données que tu trouveras dans le dossier en pièce jointe.
Je t’invite d’ailleurs fortement à lire le Lexique des
données qui s’y trouve, écrit par Julien. Dans ce document,
tu trouveras le descriptif des différents fichiers ainsi que
des notes qui te sont adressées. Nous souhaitons que tu
poursuives ses recherches en répondant aux questions
qu'il t'a laissé.
Les données sur lesquelles j’aimerais particulièrement
avoir des informations sont, pour l’année 2017 :

- la proportion de personnes en état de sous-nutrition
;
- le nombre théorique de personnes qui pourraient
être nourries. Tu devrais pouvoir calculer ça à partir
de la disponibilité alimentaire mondiale ;
- idem pour la disponibilité alimentaire des produits
végétaux ;
- l’utilisation de la disponibilité intérieure, en
particulier la part qui est attribuée à l’alimentation
animale, celle qui est perdue et celle qui est
concrètement utilisée pour l'alimentation humaine.
Je crois que Julien avait trouvé un moyen de
facilement calculer ces proportions.

Ce sont les informations principales dont on aimerait que
tu puisses nous rendre compte, mais toute idée
additionnelle est bonne à prendre !
Il y a aussi Mélanie, une autre chercheuse de l’équipe qui
avait quelques demandes. Elle devrait prendre contact
avec toi rapidement à ce sujet.
N’hésite pas à venir me voir si tu as la moindre question !
Marc

***Nous allons dans un premier temps importé toutes les bibliothèques nécessaires à notre étude***

In [1]:
import pandas as pd

In [2]:
data_nutri = pd.read_csv('/workspaces/codespaces-jupyter/data/projet4/sous_nutrition.csv')
data_dispo = pd.read_csv('/workspaces/codespaces-jupyter/data/projet4/dispo_alimentaire.csv')
data_pop = pd.read_csv('/workspaces/codespaces-jupyter/data/projet4/population.csv')
data_aide = pd.read_csv('/workspaces/codespaces-jupyter/data/projet4/aide_alimentaire.csv')

Vérifie si chaque donnée a été bien importé

In [3]:
data_pop.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [4]:
data_nutri.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [5]:
data_aide.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [6]:
data_dispo.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

Vérifions les informations de chaque dataframe

In [7]:
data_dispo.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [8]:
data_info = pd.concat([data_aide, data_dispo, data_nutri, data_pop], axis = 1)

In [9]:
data_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 28 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Pays bénéficiaire                                              1475 non-null   object
 1   Année                                                          1475 non-null   float64
 2   Produit                                                        1475 non-null   object
 3   Valeur                                                         1475 non-null   float64
 4   Zone                                                           15605 non-null  object
 5   Produit                                                        15605 non-null  object
 6   Origine                                                        15605 non-null  object
 7   Aliments pour animaux                                          2720 non-null   float64
 8   Autres Utilisations                                            5496 non-null   float64
 9   Disponibilité alimentaire (Kcal/personne/jour)                 14241 non-null  float64
 10  Disponibilité alimentaire en quantité (kg/personne/an)         14015 non-null  float64
 11  Disponibilité de matière grasse en quantité (g/personne/jour)  11794 non-null  float64
 12  Disponibilité de protéines en quantité (g/personne/jour)       11561 non-null  float64
 13  Disponibilité intérieure                                       15382 non-null  float64
 14  Exportations - Quantité                                        12226 non-null  float64
 15  Importations - Quantité                                        14852 non-null  float64
 16  Nourriture                                                     14015 non-null  float64
 17  Pertes                                                         4278 non-null   float64
 18  Production                                                     9180 non-null   float64
 19  Semences                                                       2091 non-null   float64
 20  Traitement                                                     2292 non-null   float64
 21  Variation de stock                                             6776 non-null   float64
 22  Zone                                                           1218 non-null   object
 23  Année                                                          1218 non-null   object
 24  Valeur                                                         624 non-null    object
 25  Zone                                                           1416 non-null   object
 26  Année                                                          1416 non-null   float64
 27  Valeur                                                         1416 non-null   float64
dtypes: float64(19), object(9)
memory usage: 3.3+ MB

Existence des Valeures mal-formatées

In [10]:
data_nutri.dtypes

Zone      object
Année     object
Valeur    object
dtype: object

In [11]:
data_aide.dtypes

Pays bénéficiaire    object
Année                 int64
Produit              object
Valeur                int64
dtype: object

In [12]:
data_pop.dtypes

Zone       object
Année       int64
Valeur    float64
dtype: object

In [13]:
data_dispo.dtypes

Zone                                                              object
Produit                                                           object
Origine                                                           object
Aliments pour animaux                                            float64
Autres Utilisations                                              float64
Disponibilité alimentaire (Kcal/personne/jour)                   float64
Disponibilité alimentaire en quantité (kg/personne/an)           float64
Disponibilité de matière grasse en quantité (g/personne/jour)    float64
Disponibilité de protéines en quantité (g/personne/jour)         float64
Disponibilité intérieure                                         float64
Exportations - Quantité                                          float64
Importations - Quantité                                          float64
Nourriture                                                       float64
Pertes                                                           float64
Production                                                       float64
Semences                                                         float64
Traitement                                                       float64
Variation de stock                                               float64
dtype: object

In [5]:
data_double = data_dispo["Zone"].duplicated().any()
data_double

True

Question de Marc

**1) Proportion sous nutri**

Filtrons entre l'année 2016 et 2018

In [6]:
An = '2016-2018'
filtre_data = data_nutri[(data_nutri['Année'] == An)]
filtre_data["Année"] = 2017

filtre_data

/tmp/ipykernel_17895/2100556088.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtre_data["Année"] = 2017

                                        Zone  Année Valeur
4                                Afghanistan   2017   10.5
10                            Afrique du Sud   2017    3.1
16                                   Albanie   2017    0.1
22                                   Algérie   2017    1.3
28                                 Allemagne   2017    NaN
...                                      ...    ...    ...
1192  Venezuela (République bolivarienne du)   2017      8
1198                                Viet Nam   2017    6.5
1204                                   Yémen   2017    NaN
1210                                  Zambie   2017    NaN
1216                                Zimbabwe   2017    NaN

[203 rows x 3 columns]

Existence des valeurs mals formatées

In [7]:
# Convertir les valeurs en nombres et gérer les erreurs en remplaçant par NaN
filtre_data["ratio"] = pd.to_numeric(filtre_data["Valeur"], errors='coerce')

# Identifier les entrées mal formatées
valeurs_mal_formatées = filtre_data[filtre_data["ratio"].isna()]

# Afficher les valeurs mal formatées une par une, sans NaN
for valeur in valeurs_mal_formatées["Valeur"]:
    if not pd.isnull(valeur):
        print(valeur)

<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1
<0.1

/tmp/ipykernel_17895/197583750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtre_data["ratio"] = pd.to_numeric(filtre_data["Valeur"], errors='coerce')

In [8]:
filtre_data.head()

              Zone  Année Valeur  ratio
4      Afghanistan   2017   10.5   10.5
10  Afrique du Sud   2017    3.1    3.1
16         Albanie   2017    0.1    0.1
22         Algérie   2017    1.3    1.3
28       Allemagne   2017    NaN    NaN

In [9]:
# Supprimer la colonne "Valeur"
filtre_data.drop("Valeur", axis=1, inplace=True)

/tmp/ipykernel_17895/439437387.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtre_data.drop("Valeur", axis=1, inplace=True)

In [10]:
filtre_data["ratio"] = filtre_data["ratio"].fillna(0)

/tmp/ipykernel_17895/1815405618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtre_data["ratio"] = filtre_data["ratio"].fillna(0)

Calculons la somme totale pour cette année

In [11]:
total_population = filtre_data["ratio"].sum()
total_population

535.7

In [12]:
proportion = 100*(1e6 * total_population) / (7*1e9)

print("La proportion de la population mondiale en 2017 est de: {:.2f}%".format(proportion))

La proportion de la population mondiale en 2017 est de: 7.65%

**2) Nombre théorique**

Filtrons sur la dispo kcal/per/j

In [13]:
dispo = data_dispo['Disponibilité alimentaire (Kcal/personne/jour)']

In [14]:
data_dispo = data_dispo.fillna(0)
data_dispo.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0

In [15]:
grouped_dfe = data_dispo.groupby('Zone').sum()
grouped_dfe.head()

/tmp/ipykernel_17895/2079395574.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_dfe = data_dispo.groupby('Zone').sum()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,2087.0,351.41,33.50,58.26,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,3020.0,564.80,83.58,85.33,61256.0,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,3188.0,1095.54,106.48,111.37,4758.0,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,3293.0,809.13,76.48,91.92,42630.0,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,3503.0,957.52,141.62,101.39,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0

In [18]:
datamerge = data_dispo.merge(filtre_data, on = "Zone", how = "left")
datamerge[["Zone","Origine","Aliments pour animaux", "Disponibilité alimentaire (Kcal/personne/jour)","Disponibilité alimentaire en quantité (kg/personne/an)", "Disponibilité de matière grasse en quantité (g/personne/jour)","Disponibilité de protéines en quantité (g/personne/jour)" ]]

,Zone,Origine,Aliments pour animaux,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour)
0,Afghanistan,animale,0.0,5.0,1.72,0.20,0.77
1,Afghanistan,vegetale,0.0,1.0,1.29,0.01,0.02
2,Afghanistan,vegetale,0.0,1.0,0.06,0.01,0.03
3,Afghanistan,vegetale,0.0,0.0,0.00,0.00,0.00
4,Afghanistan,vegetale,0.0,4.0,2.70,0.02,0.05
...,...,...,...,...,...,...,...
15600,Îles Salomon,animale,0.0,45.0,4.70,4.28,1.41
15601,Îles Salomon,animale,0.0,11.0,3.34,0.69,1.14
15602,Îles Salomon,animale,0.0,0.0,0.06,0.00,0.04
15603,Îles Salomon,vegetale,0.0,0.0,0.07,0.00,0.00
15604,Îles Salomon,vegetale,0.0,4.0,0.48,0.21,0.15

In [19]:
prod = dispo*365*datamerge['ratio'] #produit 
somme = prod.sum() #somme
nb = (somme / 2500*365).round() #nbre de personne nourrit
print('\n le nombre des personnes qui pourraient être nourries est de :', nb)

 le nombre des personnes qui pourraient être nourries est de : 71057962.0

In [20]:
group = datamerge.groupby(["Zone", "Origine"]).sum().reset_index()

/tmp/ipykernel_17895/1181355621.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group = datamerge.groupby(["Zone", "Origine"]).sum().reset_index()

In [21]:
dv_vegetaux = group[group['Origine']=='vegetale']
dv_vegetaux

,Zone,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,ratio
1,Afghanistan,vegetale,645.0,415.0,1871.0,271.49,18.27,46.05,10884.0,278.0,2638.0,8293.0,1072.0,8891.0,393.0,63.0,-368.0,98833.0,514.5
3,Afrique du Sud,vegetale,5122.0,761.0,2533.0,425.17,48.92,48.94,53439.0,10586.0,6468.0,22441.0,2110.0,55649.0,186.0,22819.0,1912.0,147241.0,226.3
5,Albanie,vegetale,559.0,172.0,2203.0,706.49,38.76,51.96,3326.0,84.0,846.0,2241.0,182.0,2609.0,55.0,113.0,-45.0,141190.0,7.0
7,Algérie,vegetale,4352.0,1706.0,2915.0,632.35,54.12,66.94,35510.0,649.0,14672.0,24797.0,3587.0,21964.0,428.0,637.0,-479.0,145224.0,93.6
9,Allemagne,vegetale,28122.0,6842.0,2461.0,568.82,63.63,39.90,126866.0,34454.0,50642.0,47079.0,3717.0,110926.0,1475.0,39686.0,-247.0,147241.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,Émirats arabes unis,vegetale,1174.0,2619.0,2718.0,473.18,53.00,62.81,9623.0,3326.0,12546.0,4426.0,675.0,780.0,0.0,804.0,-376.0,141190.0,21.0
341,Équateur,vegetale,1001.0,1905.0,1732.0,327.21,49.48,24.80,14926.0,7142.0,1475.0,5149.0,654.0,20042.0,125.0,6200.0,555.0,147241.0,109.5
343,États-Unis d'Amérique,vegetale,145289.0,145102.0,2698.0,590.68,93.68,39.65,632023.0,140442.0,69522.0,189122.0,6937.0,740194.0,9030.0,140986.0,-37242.0,147241.0,0.0
345,Éthiopie,vegetale,667.0,3641.0,2005.0,300.99,17.88,52.70,38824.0,918.0,1694.0,28320.0,2125.0,40907.0,635.0,3443.0,-2857.0,143207.0,1498.1
347,Îles Salomon,vegetale,0.0,229.0,2187.0,587.08,34.27,38.86,651.0,98.0,69.0,327.0,6.0,691.0,0.0,90.0,-10.0,112952.0,0.0

3) Disponibilité des produits végétaux

In [22]:
dv_vegetaux = group[group['Origine']=='vegetale']
nb_dispo = 100*365*data_dispo['Disponibilité alimentaire (Kcal/personne/jour)'].sum()

print('\n le nombre des personnes qui pourraient être nourries de produits végétaux est :', nb_dispo)

 le nombre des personnes qui pourraient être nourries de produits végétaux est : 18083633000.0

4) Proportion d'attribution alimentaire animale, perte et humaine

Utilisons la Disponibilité intérieure

In [23]:
disp_int = group['Disponibilité intérieure']

Somme des données

In [24]:
perte = group['Pertes'].sum()
Nourriture = group['Nourriture'].sum()
Animaux = group['Aliments pour animaux'].sum()

Proportion

In [25]:
prop_perte = 100*perte / disp_int.sum()
prop_Nourriture= 100*Nourriture / disp_int.sum()
prop_Animaux = 100*Animaux / disp_int.sum()

Estimation

In [26]:
print('\n Dispo alimentaire en perte est de : {:.2f}%'.format(prop_perte))
print('\n Dispo alimentaire en nouriture est de : {:.2f}%'.format(prop_Nourriture))
print('\n Dispo alimentaire en Alimentation animale est de : {:.2f}%'.format(prop_Animaux))

 Dispo alimentaire en perte est de : 4.61%

 Dispo alimentaire en nouriture est de : 49.51%

 Dispo alimentaire en Alimentation animale est de : 13.24%

5) Personnes sous alimentées

In [28]:
data_pope = data_pop.rename(columns={'Valeur': 'population'})
data_pop = data_pop.rename(columns={'Valeur': 'population'})
data_aide = data_aide.rename(columns={'Valeur': 'aide', 'Pays bénéficiaire' : 'Zone'})

Filtre population sur 2017

In [29]:
filtre_pop = data_pope[(data_pop['Année'] == 2017)]
filtre_pop.head()

              Zone  Année  population
4      Afghanistan   2017   36296.113
10  Afrique du Sud   2017   57009.756
16         Albanie   2017    2884.169
22         Algérie   2017   41389.189
28       Allemagne   2017   82658.409

Merge population 2017 et les données sous nutri

In [30]:
pop_alim = filtre_data.merge(filtre_pop[["Zone","population"]], on = "Zone", how = 'left')
pop_alim.head()

             Zone  Année  ratio  population
0     Afghanistan   2017   10.5   36296.113
1  Afrique du Sud   2017    3.1   57009.756
2         Albanie   2017    0.1    2884.169
3         Algérie   2017    1.3   41389.189
4       Allemagne   2017    0.0   82658.409

Triez les données en ordre décroissant à l'aide de la méthode sort_values()

In [31]:
pop_alim = pop_alim.sort_values(by='ratio', ascending= False)

Créez une nouvelle colonne contenant la proportion de la population sous-alimentée pour chaque pays

In [32]:
pop_alim['proportion_sous_alimentation'] = pop_alim['ratio'] / pop_alim['population'] * 100

Estimation

In [33]:
df_proportion = pop_alim.groupby(['Zone'])['proportion_sous_alimentation'].sum()
df_proportion_sorted_des = (df_proportion * 100).sort_values(ascending=False)
print('\n La proportion sous alimentées la plus forte de chaque pays en 2017 est :','\n''\n', df_proportion_sorted_des.head(10).round(2))

 La proportion sous alimentées la plus forte de chaque pays en 2017 est :

 Zone
Haïti                                         4.83
République populaire démocratique de Corée    4.72
Madagascar                                    4.11
Libéria                                       3.83
Lesotho                                       3.82
Tchad                                         3.80
Rwanda                                        3.51
Mozambique                                    3.28
Timor-Leste                                   3.22
Afghanistan                                   2.89
Name: proportion_sous_alimentation, dtype: float64

Proportion des pop des plus bénéficiés depuis 2013

Merge des données pop et aides sur année

In [70]:
data_pop

             Zone  Année     Valeur
0     Afghanistan   2013  32269.589
1     Afghanistan   2014  33370.794
2     Afghanistan   2015  34413.603
3     Afghanistan   2016  35383.032
4     Afghanistan   2017  36296.113
...           ...    ...        ...
1411     Zimbabwe   2014  13586.707
1412     Zimbabwe   2015  13814.629
1413     Zimbabwe   2016  14030.331
1414     Zimbabwe   2017  14236.595
1415     Zimbabwe   2018  14438.802

[1416 rows x 3 columns]

In [34]:
pop_sos = data_aide.merge(data_pop[["Année", "Zone","population"]], left_on=['Année', 'Zone'], right_on=['Année', 'Zone'], how='left')
pop_sos

             Zone  Année                   Produit   aide  population
0     Afghanistan   2013       Autres non-céréales    682   32269.589
1     Afghanistan   2014       Autres non-céréales    335   33370.794
2     Afghanistan   2013              Blé et Farin  39224   32269.589
3     Afghanistan   2014              Blé et Farin  15160   33370.794
4     Afghanistan   2013                  Céréales  40504   32269.589
...           ...    ...                       ...    ...         ...
1470     Zimbabwe   2015  Mélanges et préparations     96   13814.629
1471     Zimbabwe   2013              Non-céréales   5022   13350.373
1472     Zimbabwe   2014              Non-céréales   2310   13586.707
1473     Zimbabwe   2015              Non-céréales    306   13814.629
1474     Zimbabwe   2013                Riz, total     64   13350.373

[1475 rows x 5 columns]

In [35]:
pop_sos['proportion_aide'] = (pop_sos['aide'] / pop_sos['population'] * 100)/100

In [36]:
df_proportion_sos = pop_sos.groupby(['Zone'])['proportion_aide'].sum()
df_proportion_sorted_asc = (df_proportion_sos).sort_values(ascending=False)
print('\n La proportion la plus forte des aides de chaque pays depuis 2013 est :','\n''\n', df_proportion_sorted_asc.head(10).round(2))

 La proportion la plus forte des aides de chaque pays depuis 2013 est :

 Zone
République arabe syrienne    99.58
Soudan du Sud                66.16
Djibouti                     46.27
Yémen                        45.74
Palestine                    38.41
Somalie                      21.95
Tchad                        19.66
Nicaragua                    18.73
Soudan                       17.84
Guinée-Bissau                15.37
Name: proportion_aide, dtype: float64

Ceux qui ont le plus bénéficié d'aide

In [37]:
must_aide = pop_sos[pop_sos["Année"] == 2013]
grouped_data = must_aide[['Zone', 'aide']].groupby("Zone").sum().sort_values(by = 'aide', ascending = False)

print("\n Pays ayant bénéficié de plus d'aide :")
grouped_data.head(10)

 Pays ayant bénéficié de plus d'aide :

                                    aide
Zone
Éthiopie                          591404
République arabe syrienne         563566
Soudan                            330230
Yémen                             264764
Kenya                             220966
Soudan du Sud                     196330
République démocratique du Congo  150320
Somalie                           139800
Bangladesh                        131018
Afghanistan                       128238

Ceux qui ont le moins bénéficié d'aide

In [38]:
down_aide = pop_sos[pop_sos["Année"] == 2013]
grouped_data = down_aide[['Zone', 'aide']].groupby("Zone").sum().sort_values(by = 'aide', ascending = True)

print("\n Pays ayant bénéficié moins d'aide :")
grouped_data.head(10)

 Pays ayant bénéficié moins d'aide :

                      aide
Zone
Géorgie                 34
Timor-Leste            116
Zambie                 328
Iraq                   666
Tadjikistan            746
Sao Tomé-et-Principe   890
Égypte                1122
Équateur              1362
Cuba                  1594
Bhoutan               1724

# 6) Mettre en relief

Création d'une nouvelle colonne qui calcule la disponibilité alimentaire par habitant

Merge les données aide et données disponibilité

In [44]:
data_aide.head()

          Zone  Année              Produit   aide
0  Afghanistan   2013  Autres non-céréales    682
1  Afghanistan   2014  Autres non-céréales    335
2  Afghanistan   2013         Blé et Farin  39224
3  Afghanistan   2014         Blé et Farin  15160
4  Afghanistan   2013             Céréales  40504

In [41]:
data_dispo.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0

In [43]:
dispo_sos = data_dispo.merge(pop_sos[["Année", "Zone","population"]], left_on=['Année', 'Zone'], right_on=['Année', 'Zone'], how='left')

KeyError: 'Année'

In [42]:
pop_sos

,Zone,Année,Produit,aide,population,proportion_aide
0,Afghanistan,2013,Autres non-céréales,682,32269.589,0.021134
1,Afghanistan,2014,Autres non-céréales,335,33370.794,0.010039
2,Afghanistan,2013,Blé et Farin,39224,32269.589,1.215510
3,Afghanistan,2014,Blé et Farin,15160,33370.794,0.454289
4,Afghanistan,2013,Céréales,40504,32269.589,1.255176
...,...,...,...,...,...,...
1470,Zimbabwe,2015,Mélanges et préparations,96,13814.629,0.006949
1471,Zimbabwe,2013,Non-céréales,5022,13350.373,0.376169
1472,Zimbabwe,2014,Non-céréales,2310,13586.707,0.170019
1473,Zimbabwe,2015,Non-céréales,306,13814.629,0.022150
1474,Zimbabwe,2013,"Riz, total",64,13350.373,0.004794

In [ ]:
d3a["disponibilité/habitant"] = d3a["Disponibilité alimentaire (Kcal/personne/jour)"] * d3a["Valeur"] * 365 / 1000000

In [43]:
data_aide.head()

          Zone  Année              Produit   aide
0  Afghanistan   2013  Autres non-céréales    682
1  Afghanistan   2014  Autres non-céréales    335
2  Afghanistan   2013         Blé et Farin  39224
3  Afghanistan   2014         Blé et Farin  15160
4  Afghanistan   2013             Céréales  40504

In [49]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 4 to 1216
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Zone       203 non-null    object
 1   Année      203 non-null    int64
 2   sousNutri  203 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.3+ KB